html
  body
    ion-view(title='Account')
      ion-content.padding
        h1 Login
        .list
          label.item.item-input
            span.input-label Username
            input(type='text', ng-model='user.username')
          label.item.item-input
            span.input-label Password
            input(type='password', ng-model='user.password')
          button.button.button-block.button-positive(ng-click='login(user)') Go Take Notes
